# @link https://docs.expo.dev/guides/monorepos/#common-issues
node-linker=hoisted

# @link https://turbo.build/repo/docs/handbook/tools/prisma
public-hoist-pattern[]=*prisma*

# installed package
strict-peer-dependencies=false

# @link https://pnpm.io/npmrc#prefer-workspace-packages
save-workspace-protocol=false

# @link https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=true

